<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://pqnpw10744noxiw.belugacdn.link/158.com.google.ios.youtube.ipa?1612888894</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.google.ios.youtube</string>
				<key>bundle-version</key>
				<string>14.19.5 - T5</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Cercube 5 for YouTube</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
