/* Your app custom styles here */

body,
html {
  margin: 0;
  padding: 0;
  background-color: #e0e5ec;
  color: #1C82E7;
}


.banner {
  width: 1%;
  border-radius: 15px;
}

.banner-li {
  background-color: #F2F7FF;
  border-radius: 10px;
  width: 75%;
}

.get-btn {
  width: 55px;
  padding: 6px;
  background-color: #F2F7FF;
  border-radius: 18px;
  display: block;
  float: right;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: #1C82E7;
  margin-top: 6px;
}

